@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* todo css */
.ff_inter {
  font-family: "inter", "sans";
}
.check_icon:hover svg path {
  fill: #76c745;
  transition: all 200ms linear;
}
